<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.po.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="baseColumns">
     username, avatarurl,status
  </sql>
  <sql id="insertColumns">
     username, openid, avatarurl, status
  </sql>
  <update id="updateUserById">
    update users set username= #{username},avatarurl= #{avatarurl}
    where id=#{id}
  </update>
  <select id="getUsers" resultMap="BaseResultMap">
    select <include refid="baseColumns" />
    from users
    where 1=1
    limit #{pageNo},#{pageSize}
  </select>
  <select id="getUserByUserName" resultMap="BaseResultMap">
    select *
    from users
    where username = #{userName}
  </select>
  <select id="getUserByOpenId" resultMap="BaseResultMap">
    select *
    from users
    where openid = #{openId}
  </select>
  <select id="getUsersCount" resultType="java.lang.Integer">
    select count(1)
    from users
    where 1=1
  </select>
</mapper>